.container {
	padding: 1rem;
}

.title {
	font-size: 2rem;
	padding: 1rem 0;
	border-bottom: 1px solid #ddd;
	margin-bottom: 1rem;
}

@media(min-width: 700px) {

}

@media(min-width: 1200px) {
	.container {
		width: 1200px;
		margin: auto;
	}
}
